@import '@/styles/variables.scss';


.card {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin: 1rem 0;
  padding: 0.5rem 2rem 0.5rem 1rem;

  border-radius: $border-radius;

  &.sport {
    background: linear-gradient(150deg, $sport-red, $grey 70%, $grey);
  }
  
  &.technology {
    background: linear-gradient(150deg, $technology-blue, $grey 70%, $grey);
  }
}

.thumbnail {
  margin: $border-radius-half 0 $border-radius-half 0;
  border-radius: $border-radius-half;
}

.title {
  margin: 0.5rem 0;
}

.shortText {
  p {
    margin: 0.5rem 0;
  }
}
