.picker {
  position: relative;
}

.icon {
  cursor: pointer;
}

.options {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;

  padding: 0 0.5rem;

  background-color: white;

  &.opened {
    display: block;
  }

  &.closed {
    display: none;
  }
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  height: 1rem;
  margin: 0.5rem 0;

  svg {
    height: 1rem;
  }
}
