// page layout

$page-content-width: 800px;
$page-header-heigth: 5rem;
$page-footer-height: 3rem;

$border-radius: 1rem;
$border-radius-half: 0.5rem;

// colors

$grey: #7b7b85;
$technology-blue: #6496e6;
$sport-red: #e66465;
