@import '@/styles/variables.scss';


.card {
  width: 390px;
  min-width: 360px;
  padding: 0.5rem 2rem 0.5rem 1rem;

  display: flex;
  flex-direction: column;

  border-radius: $border-radius;
}

.thumbnail {
  margin: $border-radius-half 0 $border-radius-half 0;
  border-radius: $border-radius-half;
  align-self: center;
}

.title {
  margin: 0.5rem 0;
}

.withIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  margin: 8px 0;

  svg {
    flex-shrink: 0;
  }
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.text {
  p {
    margin: 0.5rem 0;
    text-align: justify;
  }
}
